version: "2"

services:

  fluent:
    build: ./fluent
    restart: always
    networks:
      - web
    volumes_from:
       - elasticsearch-master

  elasticsearch-master:
    build: ./elasticsearch
    restart: always
    environment:
    - mode=master
    - nodes=["elasticsearch-master", "elasticsearch-slave1", "elasticsearch-slave2"]
    networks:
      - web
    ports:
      - 9200:9200

  elasticsearch-slave1:
    build: ./elasticsearch
    restart: always
    environment:
      - mode=slave
      - nodes=["elasticsearch-master", "elasticsearch-slave1", "elasticsearch-slave2"]
    networks:
      - web

  elasticsearch-slave2:
    build: ./elasticsearch
    restart: always
    environment:
      - mode=slave
      - nodes=["elasticsearch-master", "elasticsearch-slave1", "elasticsearch-slave2"]
    networks:
      - web

  kibana:
    build: ./kibana
    restart: always
    ports:
      - 5601:5601
    networks:
      - web

  minio:
    build: ./minio
    restart: always
    ports:
      - 9000:9000
    networks:
      - web
    networks:
      web:

  twitter:
    build: ./twitter
    restart: always
    networks:
      - web
    environment:
      - consumer_key=foo
      - consumer_secret=foo
      - access_token_key=foo
      - access_token_secret=foo
      - twitter_topic=#docker
      - elasticsearch_url=http://elasticsearch-master:9200

  flight-delays:
    build: ./flight-delays
    networks:
      - web
    environment:
      - source=/delays/airline_delay_causes.csv
      - elasticsearch_url=http://elasticsearch-master:9200

networks:
  web:
